.btn{
    position: fixed;
    right: 2vw;
    bottom: 2vw;
    height: 1em;
    font-size: 3rem;
    z-index: 99;
    cursor: pointer;
    color:#1B2430;
  border-radius: 50%;
   
  }
  .Mobbtn{
    position: fixed;
    right: 3vw;
    bottom: 3vw;
    height: 1em;
    font-size: 2rem;
    z-index: 99;
    cursor: pointer;
    color:#1B2430;
 
  border-radius: 50%;
   
  }
  .Tabbtn{
    position: fixed;
    right: 2vw;
    bottom: 2vw;
    height: 1em;
    font-size: 3rem;
    z-index: 99;
    cursor: pointer;
    color:#1B2430;
  border-radius: 50%;
   
  }
  
  .icon:hover{
    color:black;
    transform: translateY(-5px);
  }
  
  